FIREBASE_API_KEY="AIzaSyBuJxG3X-QXU6JLYchoqgS1vgEroWdn_g0"
FIREBASE_AUTH_DOMAIN="financetracker-facb6.firebaseapp.com"
FIREBASE_PROJECT_ID="financetracker-facb6"
FIREBASE_STORAGE_BUCKET="financetracker-facb6.appspot.com"
FIREBASE_MESSAGING_SENDER_ID="236359392207"
FIREBASE_APP_ID="1:236359392207:web:f2730f34205c30935850ba"
FIREBASE_MEASUREMENT_ID="G-0W30ZRHGKY"


CORS_ORIGIN=*
PORT=3000